extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post', action='/formpage')
   input(type="text", name="userinput1")
   input(type="text", name="userinput2")
   input(type="file", name="file")
   input(type="submit")
  
  p #{inputvalue}